body {
	background: #fff;
}

.carousel .item {
    width: 100%; 
    height: 400px; 
}

.input-append {
	text-align: center;
	padding-top: 10px;
}

#formbuscar {
	overflow: hidden;
	float: left;
}

#formularioBuscar{
	padding-left: 380px;
	padding-top: 30px;
}

.sr-input {
    box-shadow: none;
    color: #8a8a8a;
    width: 400px;
    height: 40px;
    padding: 0 10px;
    float: left;

}

.sr-btn {
    background: none repeat scroll 0 0 #00a6b2;
    border: medium none;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    float: left;

}

#contendorbuscar {
  overflow: hidden;
  padding-left: 350px;
}

#logo {
  padding-left: 70px;
}

#cotrolesbuscar {
  float: left;
}

#logo img {
	position: relative;
	padding-bottom: 20px;
}



#fragmentos1 {
	overflow: hidden;
}

#fragmento1 {
	float: left;
	width: 550px;
}

#fragmento2 {
	float: left;
	width: 550px;
	padding-left: 100px;
	text-align: center;
}

.icono2 {
	padding-left: 30px;
}

#carousel {
	float: left;
}

#personas {
	float: left;
}

#personas img {
	width: 500px;
	height: 400px;
	padding-left: 10px;
}

#contenedor1 {
	overflow: hidden;
}

#Recomendaciones {
	padding-left: 30px;
}

#vendido {
	padding-left: 30px;
}

.user img {
	width: 20px;
    height: 20px; 
}
.carousel .item img {
    width: 100%;
    height: 100%; 
}

.producto-imagen img {
	width: 160px;
	height: 100px;
}

.formulario {
  width: 300px;
}

.registrateText{
	position: relative;
  	bottom: 180px; 
  	font-family: "ITC Franklin Gothic";
  	font-size: 40px;
	font-style: normal;
	font-variant: normal;
}

.ISesion {
	position: center;
}

.container-fluid .registrarse{
  width: 300px;
  height: 420px;
}

.contenedorProductos {
	text-align: left;
	background-color: #FFFFFF;
}

.MenuInicio :hover {
background: #00B3FD;
color: #fff;
font-weight: bold;
font-size: 15px;
}

.MenuInicio a{
	color: #fff;
}

footer { 
	background-color:#0c1a1e; 
	min-height:350px; 
	font-family: 'Open Sans', 
	sans-serif; 
}

.footerleft { 
	margin-top:50px; 
	padding:0 36px; 
}

.logofooter { 
	margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;
}

.footerleft p { 
	color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;
}

.footerleft p i { 
	width:20px; color:#999;
}

.paddingtop-bottom {  
	margin-top:50px;
}

.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}


#TuCuenta {
  	background-size:cover;
  	opacity: .9;
  	background-color: #0c1a1e;
  	color: #FFFFFF;
}

 #TIniciarS {
	text-align: center;
 }

.cards {
justify-content: center;
padding-top: 20px;
text-align: center;

}

.cardinner img{
	width: 215px; 
	height: 160px;
}


.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}



.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;

}

.section-content{
  	text-align: center; 
}

#contact{
  font-family: 'Teko', sans-serif;
  padding-top: 20px;
  width: 70%;
  height: 450px;
  background-size:cover;
  opacity: .9;
  background-color: #0c1a1e;
  color : #fff; 
  border-radius: 23px 23px 23px 23px;
-moz-border-radius: 23px 23px 23px 23px;
-webkit-border-radius: 23px 23px 23px 23px;   
}

.form-line{
  border-right: 1px solid #B29999;
}


label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

#myCarousel {
	width: 100%;
}

.slider-text{
  padding-top: 40px;
  display: block;
}

.slider-text .col-md-6{
  overflow: hidden;
}

#itemslider h4{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
#slider-control img {
  padding-top: 70px;
  margin: 0 auto;
}
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.cuadro_intro_hover{
    padding: 0px;
	position: relative;
	overflow: hidden;
}

.cuadro_intro_hover:hover .caption{
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform:translateY(-150px);
	-moz-transform:translateY(-150px);
	-ms-transform:translateY(-150px);
	-o-transform:translateY(-150px);
}
.cuadro_intro_hover img{
	z-index: 4;
}
.cuadro_intro_hover .caption{
	position: absolute;
	top:310px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	width: 100%;

}
.cuadro_intro_hover .blur{
	background-color: rgba(0,0,0,0.7);
	height: 300px;
	z-index: 5;
	position: absolute;
	width: 100%;

}
.cuadro_intro_hover .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 300px;
	text-align: center;
	top:-20px;
	width: 100%;
}

.fragmentos2 {
	float: left;
}

#info1 {
	overflow: hidden;
}